adal==1.2.7
altair==5.3.0
altgraph==0.17.4
annotated-types==0.7.0
applicationinsights==0.11.10
argcomplete==3.2.2
attrs==23.2.0
azure-common==1.1.28
azure-core==1.30.0
azure-graphrbac==0.61.1
azure-identity==1.15.0
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.0
azure-mgmt-network==25.2.0
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
azureml-core==1.55.0
azureml-dataprep==5.1.4
azureml-dataprep-native==41.0.0
azureml-dataprep-rslex==2.22.2
azureml-dataset-runtime==1.55.0
azureml-opendatasets==1.55.0
azureml-telemetry==1.55.0
blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
dacite==1.8.1
docker==7.0.0
fonttools==4.53.1
fusepy==3.0.1
gitdb==4.0.11
GitPython==3.1.43
htmlmin==0.1.12
idna==3.7
ImageHash==4.3.1
importlib_metadata==8.2.0
importlib_resources==6.4.0
isodate==0.6.1
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.4.2
jsonpickle==3.0.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
knack==0.11.0
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
msal==1.26.0
msal-extensions==1.1.0
msrest==0.7.1
msrestazure==0.6.4
multimethod==1.12
ndg-httpsclient==0.5.1
networkx==3.2.1
numba==0.60.0
numpy==2.0.1
packaging==24.1
pandas==2.2.2
patsy==0.5.6
pefile==2023.2.7
phik==0.12.4
pillow==10.4.0
portalocker==2.8.2
protobuf==5.27.2
py4j==0.10.9.7
pyarrow==15.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
pyspark==3.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.6.0
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.19.1
scipy==1.13.1
seaborn==0.13.2
SecretStorage==3.3.3
six==1.16.0
smmap==5.0.1
statsmodels==0.14.2
streamlit==1.37.0
sweetviz==2.3.1
tenacity==8.5.0
tensorflow-text==2.10.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
visions==0.7.6
watchdog==4.0.1
wordcloud==1.9.3
ydata-profiling==4.9.0
zipp==3.19.2
